.category_hover {
  padding: 20px 8px;
  .category__item {
    padding: 0 16px;
    &:hover {
      background-color: #f6f9fb;
    }
    &_title, &_not-hover {
      &:hover {
        background-color: #fff;
      }
    }
  }
  .category__item_icon .i-icon {
    right: 26px;
    &.icon-pencil {
      right: 16px;
    }
    &.icon-plus-add {
      right: 20px;
    }
  }
  .category__item_active {
    &:after {
      content: "";
      margin-left: -36px;
    }
  }
  .solid {
    margin: 10px 16px;
  }
}