.category_hover {
  padding: 20px 8px;
  .category__item {
    padding: 0 16px;
    &:hover {
      background-color: #f6f9fb;
    }
    &_title, &_not-hover {
      &:hover {
        background-color: #fff;
      }
    }
     &_title {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .category__item_icon .i-icon {
    right: 26px;
    &.icon-pencil {
      right: 10px;
      margin-top: -22px;
      color: #9aa5ab;
      &:hover {
        color: #556066;
      }
    }
    &.icon-plus-add {
      right: 20px;
    }
    &.icon-filter {
      right: 15px;
      margin-top: -12px;
      color: #556066;
    }
  }
  .category__item_active {
    &:after {
      content: "";
      margin-left: -36px;
    }
  }
  .solid {
    margin: 10px 16px;
  }
  .icon-filter {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    display: none;
  }
  &:hover .icon-filter {
    display: inline-block;
  }
}