.nav__link{
  display: block;
  color: #000;
  padding: 26px 10px 26px 3em;
  font-size: 11px;
  font-family: GothaProReg;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  position: relative;
  border-bottom: 4px solid transparent;
  &_dropdown {
    text-transform: capitalize;
    font-size: 14px;
    font-family: GothaProLig;
    color: #62717b;
    padding-top: 11px;
    cursor: pointer;
    .text {
      margin-right: 10px;
    }
  }
}