.button_add-more {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 192px;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  line-height: 0;
  -o-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
  &-plus {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    position: relative;
    .icon {
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
    }
  }

}