[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-favorites {
  background: url(interface/icons/favorites.svg) no-repeat;
  background-position: center center;
}
.icon-page {
  background: url(interface/icons/not-content.svg) no-repeat;
  background-position: center center;
}
.icon-arrow {
  background: url(interface/icons/arrow.svg) no-repeat;
  background-position: center center;
}

.icon-status {
  &:before {
    content: "\e903";
    color: rgb(216, 226, 233);
  }
  &:after {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-heart {
  &:before {
    content: "\e90c";
  }
  &_active {
    &:before {
      content: "\e90d";
    }
  }
}

.icon-add-plus:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}

.icon-code:before {
  content: "\e905";
}
.icon-crown:before {
  content: "\e906";
}
.icon-education:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-files:before {
  content: "\e909";
}
.icon-glasses:before {
  content: "\e90a";
}
.icon-group:before {
  content: "\e90b";
}

.icon-instagram:before {
  content: "\e90e";
}
.icon-lamp:before {
  content: "\e90f";
}
.icon-leaf:before {
  content: "\e910";
}
.icon-locked:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-newspaper:before {
  content: "\e913";
}
.icon-notification:before {
  content: "\e914";
}
.icon-pencil:before {
  content: "\e915";
}
.icon-people:before {
  content: "\e916";
}
.icon-pin:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-question:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-star-full:before {
  content: "\e91c";
}
.icon-star-rating:before {
  content: "\e91d";
}
.icon-tag:before {
  content: "\e91e";
}
.icon-trashcan:before {
  content: "\e91f";
}
.icon-unlink:before {
  content: "\e920";
}
.icon-up-arrow:before {
  content: "\e921";
}
.icon-vk:before {
  content: "\e922";
}






/*icon_color*/

.icon_orange {
  color: #e9a93f!important;
}
.icon_pink {
  color: #f992a7!important;
}
.icon_black {
  color: #000000!important;
}
.icon_gray {
  color: #aeaeae!important;
}
.icon_green {
  color: #4ad782!important;
}
.icon_blue {
  color: #82dbc9!important;
}
.icon_red {
  color: #f76b64!important;
}
.icon_white {
  color: #fff!important;
}
/*icon_nav*/

.icon_nav {
  font-size: 25px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -13px;
  width: 3em;
  &.icon-newspaper {
    font-size: 20px;
    margin-top: -11px;
  }
}

/*icon_header*/

.icon_header {
  font-size: 17px;
  margin-right: 30px;
  &.icon-notification {
    padding: 0 10px 15px 10px;
    margin: 0 19px 0 -10px;
  }
}

/*icon_sidebar and icon_category-form*/

.icon_sidebar.icon-plus,
.icon_sidebar.icon-cancel,
.icon_category-form.icon-plus,
.icon_category-form.icon-cancel {
  font-size: 20px;
  margin-top: -10px;
  &:hover {
    cursor: pointer;
  }
}
.icon_category-form.icon-pencil,
.icon_sidebar.icon-pencil {
  font-size: 12px;
  margin-top: -16px;

  color: #c0c0c0;
}
.icon_category-form.icon-search,
.icon_sidebar.icon-search {
  font-size: 16px;
  margin-top: -12px;
}


/*icon_tag*/

.icon_tag {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

/*icon_taber*/

.icon_taber {
  margin-left: 22px;
}

/*icon-actions*/

.icon-actions {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #dee1e2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 3px 16px rgba(158, 157, 163, 0.08);
  text-align: center;
  margin-bottom: 12px;
  .icon-unlink {
    transform: rotate(100deg);
  }
  .fa,
  .icon-unlink {
    font-size: 20px;
    color: #737373;
    line-height: 40px;
  }
}

