[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e900";
}
.icon-people:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-question:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-education:before {
  content: "\e907";
}
.icon-group:before {
  content: "\e908";
}
.icon-newspaper:before {
  content: "\e909";
}
.icon-notification:before {
  content: "\e90a";
}

/*icon_color*/

.icon_black {
  color: #000000;
}
.icon_gray {
  color: #aeaeae;
}
.icon_green {
  color: #4ad782;
}
.icon_blue {
  color: #82dbc9;
}
/*icon_nav*/

.icon_nav {
  font-size: 15px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -8px;
  width: 3em;
}

/*icon_header*/

.icon_header {
  font-size: 22px;
}

/*icon_sidebar*/

.icon_sidebar.icon-plus,
.icon_sidebar.icon-cancel {
  font-size: 20px;
  margin-top: -10px;
  &:hover {
    cursor: pointer;
  }
}
.icon_sidebar.icon-pencil {
  font-size: 12px;
  margin-top: -7px;
  color: #c0c0c0;
}
.icon_sidebar.icon-search {
  font-size: 16px;
  margin-top: -8px;
}
/*icon_tag*/

.icon_tag {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

/*icon-actions*/

.icon-actions {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #dee1e2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 3px 16px rgba(158, 157, 163, 0.08);
  text-align: center;
  margin-bottom: 12px;
  
  .fa {
    font-size: 20px;
    color: #737373;
    line-height: 40px;
  }
}

