[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorites {
  background: url(interface/icons/favorites.svg) no-repeat;
  background-position: center center;
}

.icon-page {
  background: url(interface/icons/not-content.svg) no-repeat;
  background-position: center center;
}

.icon-arrow {
  background: url(interface/icons/arrow.svg) no-repeat;
  background-position: center center;
}

.icon-status {
  &:before {
    content: "\e914";
    color: rgb(216, 226, 233);
  }
  &:after {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-heart {
  &:before {
    content: "\e91f";
  }
  &_active {
    &:before {
      content: "\e91e";
    }
  }
}


.icon-pencil:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
.icon-plus-add:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e903";
}
.icon-scripts:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-star-full:before {
  content: "\e907";
}
.icon-star-rating:before {
  content: "\e908";
}
.icon-tag:before {
  content: "\e909";
}
.icon-team:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-trashcan:before {
  content: "\e90c";
}
.icon-unlink:before {
  content: "\e90d";
}
.icon-up-arrow:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-add-plus:before {
  content: "\e910";
}
.icon-book:before {
  content: "\e911";
}
.icon-cancel:before {
  content: "\e912";
}
.icon-chat:before {
  content: "\e913";
}

.icon-close:before {
  content: "\e916";
}
.icon-comments:before {
  content: "\e917";
}
.icon-crown:before {
  content: "\e918";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-files:before {
  content: "\e91a";
}
.icon-filter:before {
  content: "\e91b";
}
.icon-glasses:before {
  content: "\e91c";
}
.icon-hat:before {
  content: "\e91d";
}

.icon-help:before {
  content: "\e920";
}
.icon-home:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-lamp:before {
  content: "\e923";
}
.icon-leaf:before {
  content: "\e924";
}
.icon-link:before {
  content: "\e925";
}
.icon-list:before {
  content: "\e926";
}
.icon-locked:before {
  content: "\e927";
}
.icon-mail:before {
  content: "\e928";
}
.icon-menu:before {
  content: "\e929";
}
.icon-notification:before {
  content: "\e92a";
}






/*icon_nav*/

.icon_nav {
  font-size: 25px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -13px;
  width: 3em;
  &.icon-newspaper {
    font-size: 20px;
    margin-top: -11px;
  }
}

/*icon-tools*/
.icon-tools {
  font-size: 24px;
  color: #9aa5ab;
}

/*icon_header*/

.icon_header {
  font-size: 24px;
  margin-right: 24px;
  &.icon-notification {
    padding: 0 10px 15px 10px;
    margin: 0 14px 0 -10px;
  }
}


/*icon_sidebar and icon_category-form*/

.icon_sidebar.icon-plus,
.icon_sidebar.icon-cancel,
.icon_category-form.icon-plus,
.icon_category-form.icon-cancel {
  font-size: 20px;
  margin-top: -10px;
  &:hover {
    cursor: pointer;
  }
}

.icon_category-form.icon-pencil,
.icon_sidebar.icon-pencil {
  font-size: 12px;
  margin-top: -16px;
  color: #c0c0c0;
}

.icon_category-form.icon-search,
.icon_sidebar.icon-search {
  font-size: 16px;
  margin-top: -12px;
}


/*icon_tag*/

.icon_tag {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}


/*icon_taber*/

.icon_taber {
  margin-left: 22px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}


/*icon-actions*/

.icon-actions {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #dee1e2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 3px 16px rgba(158, 157, 163, 0.08);
  text-align: center;
  margin-bottom: 12px;
  .icon-unlink {
    transform: rotate(100deg);
  }
  .fa,
  .icon-unlink {
    font-size: 20px;
    color: #737373;
    line-height: 40px;
  }
}