.article.article_transparent {
  padding-top: 170px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  .icon {
    font-size: 170px;
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .icon-favorites {
    width: 170px;
    height: 170px;
    background-size: 170px 170px;
  }
  .text {
    font-size: 21px;
    font-family: "ProximaNovaReg";
    color: #afafaf;
    line-height: 21px;
    flex: 1 1 100%;
    text-align: center;
  }
}