.tooltip__footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  .search {
    border: 1px solid #dedede;
    border-radius: 4px;
    input[type=search] {
      font-family: "ProximaNovaReg";
      font-size: 12px;
      padding: 0 11px;
      display: inline-block;
      line-height: 28px;
      margin-right: -27px;
      padding-right: 30px;
    }
  }
}