.tooltip__footer {
  border-top: 1px solid #e4e5e9;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .link {
    font-size: 14px;
    font-family: ProximaNovaReg;
    font-weight: 400;
    color: #1f8ceb;
  }
}