.tag__item_border{
  color: #556066;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(184, 184, 184, 0.44);
  box-sizing: border-box;
  font-family: ProximaNovaReg;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding: 0 4px;
  margin: 0 2px 5px;
  .icon-list {
    font-size: 24px;
    color: #9aa5ab;
  }
  .icon-close {
    font-size: 15px;
    color: #c4c7cc;
  }
  .text, .icon {
    vertical-align: middle;
    display: inline-block;
  }
  &-green {
    color: #3bc7ab;
    border: 1px solid #3bc7ab;
  }
}