.avatar__status{
  display: flex;
  align-content: center;
  align-items: center;

  background-color: #f992a7;
  border-radius: 5em;
  padding: 2px;
  color: #fff;
  position: absolute;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
  top: 100%;
  left: 50%;
  margin: -6px 0 0 -6px;
  .fa{
    flex: 1 1 auto;
  }
  &_right {
    left: 75%;
    margin: -15px 0 0 -6px;
  }
}