.tools {
  .checkbox-label_inline {
    margin-left: 27px;
    margin-right: 18px;
    font-size: 0;
  }
  .checkbox-label {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
    font-family: ProximaNovaReg;
    color: #979797;
    display: inline-block;
    vertical-align: middle;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0 12px 0;
    font-size: 0;
    &:hover .text {
      color: #62717b;
    }
    .icon {
      font-size: 24px;
      margin-right: 8px;
      vertical-align: middle;
    }
    .action {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      margin-bottom: -10px;
      padding-bottom: 10px;
      .tooltip {
        display: none;
        top: 30px;
        right: -30px;
        width: 183px;
      }
      &:hover .tooltip {
        display: block;
      }
    }
  }
}