.article {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  
  .caption {
    margin-bottom: 20px;
  }
  &__description {
    display: inline-block;
    font-size: 14px;
    font-family: ProximaNovaReg;
    color: #9aa5ab;
    position: absolute;
    z-index: 2;
    right: 100%;
    margin-right: 24px;
    &_text {
      top: 0px;
    }
    &_icon {
      top: 50%;
      margin-top: -12px;
    }
  }
  &__content {
    padding: 24px;
    display: inline-block;
    box-sizing: border-box;
    font-family: ProximaNovaReg;
    font-size: 14px;
    flex: 1 1 500px;
    .text__gray {
      color: #9aa5ab;
    }
    > .avatar, > .pic {
      border-radius: 5px;
      margin: 0 6px 10px 0;
    }
    &_small {
      padding-bottom: 0px;
      div.content__text {
        padding-bottom: 0px;
        
      }
      & + .article__footer {
        padding-top: 10px;
      }
    }
    &_open {
      .content-footer {
        display: none;
      }
    }
    &_center {
      text-align: center;
      width: 100%;
    }
  }
  &__link {
    display: inline-block;
    cursor: pointer;
    color: #9aa5ab;
    font-size: 14px;
    font-family: ProximaNovaReg;
    text-decoration: none;
    margin-right: 8px;
    position: relative;
    top: -1px;
    .favicon {
      margin-right: 4px;
    }
    .text {
      display: inline-block;
    }
    .name {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .content {
    &__caption {
      display: flex;
      justify-content: space-between;
      margin: 0;
      &-text {
        display: inline-block;
        font-family: ProximaNovaSem;
        font-size: 24px;
        font-weight: normal;
        line-height: 28px;
        margin-bottom: 8px;
        .text, .i-icon, .fa {
          display: inline-block;
          vertical-align: middle;
        }
        
        .i-icon {
          margin-left: 4px;
          font-size: 24px;
          cursor: pointer;
        }
        
      }
      &-action {
        font-size: 0;
        cursor: pointer;
        padding: 0px;
        position: relative;
        margin-left: 50px;
        &:hover .icon-menu {
          color: #556066;
        }
        .tooltip {
          display: none;
          margin-top: -10px;
        }
        &:hover,
        &.hover {
          .tooltip {
            display: block;
          }
        }
      }
    }
    &__text {
      color: #616161;
      font-family: ProximaNovaLight;
      font-size: 16px;
      line-height: 23px;
      margin-top: 10px;
      padding-bottom: 28px; // height of footer
      &-not-margin {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
      &_collapsed {
        overflow: hidden;
        height: ~'calc(23px * 2)'; // 24px line height, 3 lines
      }
      
    }
    &__footer {
      .button_hidden {
        display: none;
      }
      .button_pin_right {
        margin-left: auto;
      }
    }
    .content-footer {
      height: 23px;
      margin-top: -30px;
    }
  }
  .sidebar {
    display: inline-block;
    padding: 24px 0 0 24px;
    img {
      border-radius: 5px;
    }
  }
  &_modal {
    max-width: 732px;
    margin: 0 auto;
    justify-content: space-between;
    .sidebar, .article__content {
      padding: 0px;
    }
    .links {
      width: 100%;
    }
    .article__content_icon {
      margin-bottom: 16px;
    }
    .article__content_icon .avatar {
      left: 0;
      top: 0;
    }
    .avatar__cover_square {
      height: 65px;
      width: 65px;
    }
    .content__caption {
      margin-bottom: 0;
    }
    .textarea {

      &::-webkit-input-placeholder {
        color: #b1b1b1;
      }
      &::-webkit-search-cancel-button {
        display: none;
      }
      &::-moz-input-placeholder {
        color: #b1b1b1;
      }
      &::-moz-placeholder {
        color: #b1b1b1;
      }
    }
    .tag {
      padding: 0 10px;
    }
    .category__item_tag .tag {
      margin-top: -29px;
    }
    .tag__item .tag__item_closer {
      margin-bottom: 3px;
    }
    .category__item_input {
      margin-bottom: 24px;
    }
    .article__content {
      padding: 0;
      position: relative;
    }
  }
  &_full-width {
    width: 100%;
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  &__content_icon {
    position: relative;
    .content__caption, .article__link {
      margin-left: 80px;
    }
    .content__text {
      text-indent: 80px;
    }
    .avatar, > .pic {
      display: inline-block;
      position: absolute;
      left: 24px;
      top: 24px;
      z-index: 1;
    }
  }
}