.header-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  z-index: 15;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 ~'calc((100% - 1230px) / 2)';
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
 
  &__input {
    border: 1px solid #6fb8f9;
    border-radius: 30px;
    flex: 1 0 300px;
    margin: 0 0 0 27px;
    width: 100%;
    position: relative;
    .i-icon {
      position: absolute;
      top: 50%;
      font-size: 24px;
      margin-top: -12px;
    }
    .icon-search {
      left: 16px;
    }
    .icon-close {
      right: 16px;
    }
  }
  .tooltip__content {
    padding: 0px;
    > .scroll {
      padding: 0 23px;
      > .solid {
        margin: 0;
      }
    }
    
  }
  .category__item_submit_search {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tooltip_search {
    left: 0px;
    right: 0px;
    z-index: 10;
    &:after {
      content: "";
      display: none;
    }
    .list__item {
      padding-top: 10px;
    }
    .tooltip__description {
      margin: 0 0 0 8px;
      line-height: 1;
      font-family: GothaProLig;
    }
    .tooltip__header {
      padding: 0;
      margin: 24px 0 16px;
      .button {
        padding-right: 0px;
        line-height: 1;
      }
    }
    .user-profile_horizontal_small .avatar {
      margin-right: 16px;
    }
  }
  
  .search input {
    padding: 13px 56px;
    font-family: ProximaNovaReg;
    color: #556066;
  }
  &__close {
    flex: 1 0 255px;
    width: 265px;
    max-width: 265px;
  }
  .datagrid {
    margin-bottom: 16px;
    &__body {
      .row__cell {
        padding: 6px 8px;
        height: 56px;
      }
    }
  }
  
  &_full-width {
    .header-search__close {
      flex: 1 0 10px;
      width: 10px;
      max-width: 10px;
    }
    .header-search__input {
      flex: 0 1 70%;
      margin: 0 auto;
    }
  }
  .serch__tooltip {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    cursor: pointer;
    z-index: 2;
    .tooltip {
      width: 260px;
      top: 35px;
      &__arrow {
        left: 50%;
        margin-left: -10px;
      }
      .category__item.category__item_submit_search .search:before {
        content: "";
        left: -10px;
        right: -10px;
      }
    }
    &_filter {
      right: 56px;
      .tooltip {
        right: -50px;
        padding: 0 20px 20px;
        &__arrow {
          margin-left: 70px;
        }
      }
    }
    &_tags {
      right: 136px;
      .tooltip {
        right: 115px;
        left: 50%;
        margin-left: -112px;
        max-height: 300px;
        .scroll {
          padding-left: 20px;
          padding-top: 5px;
          max-height: 235px;
        }
      }
    }
    .i-arrow {
      width: 7px;
      height: 7px;
      margin-left: 6px;
    }
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      color: #556066;
    }
  }
}