.datagrid__header{
  > .row{
    border: 1px solid #ecf2f5;
    >.row__cell{
      background-color: #fff;
      color: #afbcc2;
      text-align: left;
      font-family: ProximaNovaLight;
      font-size: 12px;
      padding: 15px;
      font-weight: normal;
      text-transform: uppercase;
      box-sizing: border-box;
      height: 60px;
    }
  }
}