.main {
  background-color: #f6f9fb;
  box-sizing: border-box;
  padding: 48px ~'calc((100% - 1230px) / 2)';
  width: 100%;
  > .content {
    margin: 0;
    width: 100%;
  }
  &_justified_between {
    justify-content: space-between;
    .content {

      width: 100%;
    }
  }
  > .sidebar {
    width: 264px;
    margin: 0 27px 0 0;
    max-width: 264px;
    &_middle {
      
    }
    &_big{
      width: 320px;
      max-width: 320px;
    }
  }
  &_one-col {
    height: calc((100% - 74px));
  }
  &_small-col {
    padding-top: 100px;
    >.content {
      max-width: 810px;
      margin: 0 auto;
    }
  }
  &_small-xs-col {
    padding-top: 100px;
    >.content {
      max-width: 624px;
      margin: 0 auto;
    }
    .category_columns_two-with-labels .category__item {
      flex: 0 0 47%;
    }
  }
}