.main {
  background-color: #f6f9fb;
  box-sizing: border-box;
  padding: 20px ~'calc((100% - 1230px) / 2)';
  width: 100%;
  > .content {
    margin: 0;
    width: 100%;
  }
  &_justified_between {
    justify-content: space-between;
    .content {
      margin: 0 0 0 27px;
      width: 100%;
    }
  }
  > .sidebar {
    width: 265px;
    max-width: 265px;
    &_middle {
      
    }
    &_big{
      width: 320px;
      max-width: 320px;
    }
  }
}