.notes-list__item {
  display: flex;
  align-items: flex-start;
  padding: 20px 24px;
  position: relative;
  border-top: 1px solid #ecf2f5;
  .content {
    width: 100%;
  }
  &:first-child {
    border-top: none;
  }
  &_total {

    text-align: center;
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      color: #556066;
      font-weight: 400;
      flex: 1 1 100%;
    }
  }
  .info {
    margin-bottom: 8px;

  }
  .name {
    font-size: 14px;
    font-family: ProximaNovaReg;
    color: #556066;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px 0px 0;
  }
  .date {
    font-family: ProximaNovaReg;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #b0bfc9
  }
  .footer {
    padding-top: 10px;
    &_right {
      text-align: right;
    }
  }
  &:first-child {
    .decor {
      top: 20px;
      &:before {
        top: 0px;
      }
      &:after {
        top: 5px;
      }
    }
  }
  &_editing {
    .content {
      textarea {
        border: 1px solid #dedede;

      }
    }
  }
  .smile {
    font-size: 24px;
    position: absolute;
    z-index: 2;
    color: #c4c7cc;
  }
  .zoom-pic {
    margin-top: 16px;
  }
  .answer {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-size: ProximaNovaReg;
    cursor: pointer;
    .text {
      color: #9aa5ab;
      &:hover {
        color: #556066;
      }
    }
    .icon-close {
      font-size: 15px;
      vertical-align: middle;
      color: #c4c7cc;
      &:hover {
        cursor: pointer;
        color: #556066;
      }
    }

  }
  .links {
    display: inline-block;
    width: auto;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 55px;
  }
  .textarea {
    font-family: ProximaNovaLight;
    font-size: 16px;
    font-weight: 300;
    color: #000000;;
    padding: 15px;
    min-height: 50px;
    border-radius: 3px;
  }
  .decor {
    width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0;
    background-color: #dceeea;
    &:after {
      content: "";
      position: absolute;
      top: 25px;
      left: -3px;
      width: 7px;
      height: 7px;
      background-color: #7fd5c2;
      border-radius: 500px;
    }
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #fff;
      border: 1px solid #7fd5c2;
      border-radius: 500px;
      position: absolute;
      top: 20px;
      left: -8px;
    }
  }
  .actions {
    flex: 1 0 26px;
    .link {
      display: block;
      border-radius: 2px;
      color: #e8eaec;
      border: 1px solid #e8eaec;
      width: 24px;
      height: 24px;
      margin-bottom: 10px;
      text-align: center;
      &:hover {
        color: #7fd5c2;
        border-color: #7fd5c2;
      }
      .fa {
        line-height: 24px;
      }
    }
  }
  .settings {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
    display: none;
    &:hover {
      display: block;
    }
  }
  .content {
    margin: 0 0px 0 16px;
    .title {
      color: #2f3f4c;
      font-family: ProximaNovaReg;
      font-size: 15px;
      margin-bottom: 1em;
    }
    >.text {
      font-family: ProximaNovaLight;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      padding: 0;
      margin: 0 10px 0 0;
    }
    &:hover ~.settings {
      display: block;
    }
  }
  &_removed {
    .content {
      .text {
        font-size: 14px;
        font-family: ProximaNovaReg;
        padding: 3px 0 3px 50px;
        color: #aaaaaa;
        a {
          margin-left: 16px;
        }
      }
    }
  }
}

.notes-list_noborder {
  .notes-list__item + .notes-list__item {
    border-top: none;
  }
}