.header-side__search{
  display: inline-block;
  vertical-align: middle;
  background-image: url(interface/icons/search.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}