.list__item{
  font-family: ProximaNovaLight;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: .4em;
  padding-bottom: .4em;
  border: 1px solid transparent;
  margin-left: 20px;
  color: transparent;

  &_hovered{
    cursor: pointer;
    
    &:hover{
      background-color: #f6f9fb;
    }
  }
  &_color_default{
    color: #b5b5b5;
  }
  &_color_warning{
    color: #da5c3e;
  }
  &_color_info{
    color: #61a3da;
  }
  &_dividered{
    &_top{
      border-top-color: #f6f6f6;
    }
  }
  
  > .text{
    color: #979797;
  }

  &_iconed{
    margin-left: 0;
    padding-left: 2em;
    list-style: none;
    position: relative;
    .fa, .icon {
      font-size: 16px;
      position: absolute;
      left: 8px;
      width: 40px;
      text-align: center;
      height: 100%;
      line-height: 100%;
    
    }
    &-right {
      position: relative;
      margin-left: 0;
      padding-left: 2em;
      list-style: none;
      .fa, .icon {
        right: 0;
        font-size: 16px;
        position: absolute;
        min-width: 33px;
        text-align: center;
        line-height: 100%;
        top: 50%;
        margin-top: -18px;
        display: none;
      }
      input {
        border: none;
        max-width: 195px;
        overflow: hidden;
        text-overflow: ellipsis
      }
    }
    input {
      border: none;
      width: 100%;
      padding-right: 5px;
    }
  }
  &_left {
    text-align: left;
  }
}