.list__item {
  font-family: ProximaNovaReg;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid transparent;
  margin-left: 20px;
  color: transparent;
  list-style: none;
  > .text {
    color: #979797;
    font-family: ProximaNovaReg;
    font-size: 14px;
    
  }
  &_blue {
    > .text {
      color: #1f8ceb;
    }   
  }
  &_hovered {
    cursor: pointer;
    &:hover {
      background-color: #f6f9fb;
      .text {
        color: #556066;
      }
      
    }
    &.list__item_blue:hover {
      .text {
        color: #1f8ceb;
      }
    }
  }
  &.active {
    background-color: #f6f9fb;
  }
  &_color_default {
    color: #b5b5b5;
  }
  &_color_warning {
    color: #da5c3e;
  }
  &_color_info {
    color: #61a3da;
  }
  &_dividered {

    &_top {
      position: relative;
      &:before {
        content: "";
        border-top: 1px solid #f5f5f7;
        position: absolute;
        left: -10px;
        right: -10px;
        top: -1px;
        z-index: 2;
      }
    }
  }
  
  &_iconed {
    margin-left: 0;
    padding-left: 2em;
    list-style: none;
    position: relative;
    .fa,
    .icon {
      font-size: 24px;
      position: absolute;
      left: 15px;
      text-align: center;
      top: 50%;
      margin-top: -12px;

    }
    &-right {
      position: relative;
      margin-left: 0;
      padding-left: 2em;
      list-style: none;
      .fa,
      .icon {
        right: 0;
        font-size: 24px;
        position: absolute;
        min-width: 33px;
        text-align: center;
        line-height: 100%;
        top: 50%;
        margin-top: -12px;
        color: #9aa5ab;
        display: none;
      }
      input {
        border: none;
        max-width: 195px;
        overflow: hidden;
        text-overflow: ellipsis
      }
      &:hover .fa,.icon {
        display: inline-block;
      }
    }
    input {
      border: none;
      width: 100%;
      padding-right: 5px;
    }
  }
  &_left {
    text-align: left;
  }
}