.header__logo{
  color: #393939;
  display: inline-block;
  font-size: 16px;
  line-height: 1.03;
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
  width: 176px;
  font-family: AvenirNextCyrReg;
  font-weight: normal;
  a {
    text-decoration: none;
    color: #4c4c4c;
  }
  b {
    color: #4c4c4c;
    font-family: AvenirNextCyrBold;
    font-weight: normal;
    display: inline-block;
    padding: 0 4px;
    margin: 0 11px 0 0;
  }
}