.button_load {
  border: none;
  .icon {
    font-size: 24px;
  }
  .text {
    font-size: 14px;
    font-family: ProximaNovaReg;
  }
  .icon, .text {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    display: none;

  }
}