.button_load {
  border: none;
  line-height: 1;
  .icon {
    font-size: 24px;
    margin-right: 16px;
  }
  .text {
    font-size: 14px;
    font-family: ProximaNovaReg;
    line-height: 1;
  }
  .icon, .text {
    display: inline-block;
    vertical-align: middle;
  }
  input {
    display: none;

  }
}