.notes-inner {
  position: relative;
  margin: 24px 0 57px 0;
  &:before {
    content: "";
    border: 1px solid #ecf2f5;
    position: absolute;
    border-radius: 3px;
    top: -14px;
    bottom: 3px;
    left: -24px;
    right: -24px;
  }
}