.breadcrumbs{
  width: 100%;
  margin-bottom: 30px;
  
  .link{
    color: #84919a;
    font-family: ProximaNovaLight;
    font-size: 12px;
  }
  
  .link + .link:before{
    content: '•';
    display: inline-block;
    margin: 0 .5em;
  }
}