.breadcrumbs{
  width: 100%;
  margin-bottom: 16px;
  
  .link{
    color: #84919a;
    font-family: ProximaNovaReg;
    font-size: 14px;
    font-weight: 400;
  }
  
  .link + .link:before{
    content: '•';
    display: inline-block;
    margin: 0 .5em;
  }
}