.i-tag{
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  background-image: url(interface/icons/tag.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}