.i-link{
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background-image: url(interface/icons/link.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}