.scrolling {
  position: fixed;
  bottom: 51px;
  left: 80px;
  z-index: 10;
  cursor: pointer;
  .text {
    font-size: 14px;
    font-family: ProximaNovaReg;
    color: #9aa5ab;
    margin-left: 8px;
  }
  .i-arrow, .text {
    display: inline-block;
    vertical-align: middle
  }
  .i-arrow {
    &_to_up {
      margin-bottom: -9px;
    }
    &_to_down {
      margin-top: -1px;
    }
  }
  &:hover {
    .text {
      color: #556066;
    }
    .i-arrow {
      border-right: 1px solid #556066;
      border-bottom: 1px solid #556066;
    }
  }
}