.article{
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  box-shadow: 0 3px 16px rgba(158, 157, 163, 0.08);
  margin-bottom: 28px;

  .caption{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__action{
      font-size: 0;
      cursor: pointer;
      padding: 10px;
     
    }
    
    &__text{
      display: inline-block;
      font-family: ProximaNovaBold;
      font-size: 21px;
    }
  }

  &__collapser{
    text-align: center;
    margin-bottom: -17px;
    margin-top: -20px;
    width: 100%;
    
    position: relative;
    z-index: 1;
    .button_not-border:hover .i-arrow {
      border-right: 1px solid #556066;
      border-bottom: 1px solid #556066;
    }
  }
}