.i-group{
  display: inline-block;
  width: 22px;
  height: 19px;
  vertical-align: middle;
  background-image: url(interface/icons/group.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}