.category__item_action_close{
  position: relative;
  
  &:after{
    content: "";
    background-image: url(interface/icons/cancel.svg);
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10.5px;
    
    width: 21px;
    height: 21px;
  }
}