.avatar__cover{
  border-radius: 500px;
  background-color: #d8f1ec;
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  img{
    border-radius: 500px;
  }
  .text{
    color: #98c5bc;
    font-family: ProximaNovaBold;
    font-size: 20px;
    line-height: 100px;

    &_small{
      font-size: 15px;
      line-height: 50px;
      
    }
  }
  &_small{
    width: 50px;
    height: 50px;
    .link__opacity,
    .link__link ,
    .link__shadow,
    .link__slide {
      border-radius: 5px;
    }
    &-xs {
      width: 32px;
      height: 32px;
    }
  }

  &_big{
    width: 160px;
    height: 160px;
    margin: 0 10px;
    .link__opacity,
    .link__link ,
    .link__shadow,
    .link__slide {
      border-radius: 100%;
    }
  }
  &_square {
    border-radius: 5px;
    background-color: #c5c5c5;
    
    img {
      border-radius: 5px;
    }
    .link__edit_big {
      left: 50%;
      margin-left: -18px;
    }
  }
}