.avatar__cover{
  border-radius: 500px;
  background-color: #d8f1ec;
  width: 104px;
  height: 104px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &:before {
      content: "";
      position: absolute;
      border: 1px solid #1ebfe9;
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      z-index: 1;
      border-radius: 500px;
  }
  img{
    border-radius: 500px;
    position: relative;
    z-index: 1;
  }
  .text{
    color: #1ebfe9;
    font-family: ProximaNovaSem;
    font-size: 18px;
    line-height: 104px;
    text-transform: uppercase;
  
    &_small{
      font-size: 14px;
      line-height: 48px;
    }
  }
  &_small{
    width: 48px;
    height: 48px;
    .link__opacity,
    .link__link ,
    .link__shadow,
    .link__slide {
      border-radius: 5px;
    }
    &-xs {
      width: 32px;
      height: 32px;
    }
  }

  &_big{
    width: 160px;
    height: 160px;
    margin: 0 10px;
    .link__opacity,
    .link__link ,
    .link__shadow,
    .link__slide {
      border-radius: 100%;
    }
  }
  &_square {
    border-radius: 5px;
    background-color: #c5c5c5;
    
    img {
      border-radius: 5px;
    }
    .link__edit_big {
      left: 50%;
      margin-left: -18px;
    }
  }
}