.header-side__notification {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &_active:before {
    content: "";
    display: block;
    background-color: #da5c3e;
    border-radius: 500px;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 0;
    margin-left: -3px;
    left: 100%;
  }
  > .tooltip {
    margin-top: -10px;
    display: none;
  }
  &:hover,
  &.hover {
    > .tooltip {
      display: inherit;
    }
  }
}