.category-form__label {
  color: #afbcc2;
  font-size: 12px;
  font-family: GothaProLig;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;
  &_xs {
    margin-bottom: 10px;
  }
  &_not-margin {
    margin: 0px;
  }
}