.article__footer {
  padding: 30px 24px 17px 24px;
  .text {
    display: inline-block;
    font-family: ProximaNovaLight;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    &_small {
      font-size: 12px;
    }
    &_pin_right {
      margin-left: auto;
      margin-right: 0;
    }
    &_nowrap {
      white-space: nowrap;
    }
    &__text {
      vertical-align: middle;
      display: inline-block;
      font-family: ProximaNovaReg;
      color: #9aa5ab;
      ~ i {
        margin-left: 20px;
      }
    }
    strong {
      font-family: "ProximaNovaReg";
      margin-right: .3em;
    }
  }
}