.radio-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6px;
  &_border-bottom {
    position: relative;
    padding-bottom: 16px;
    &:before {
      content: "";
      border-bottom: 1px solid #dedede;
      position: absolute;
      left: -25px;
      right: -25px;
      bottom: 0px;
      z-index: 2;
    }
  }
  &-label {
    line-height: 24px;
    cursor: default;
    user-select: none;
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      line-height: 1;
      color: #9aa5ab;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
    }
    .radio-button {
      display: none;
    }
    .radio-button__indicator {
      border: 1px solid lightgray;
      border-radius: 100%;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      position: relative;
    }
    .radio-button:checked + .radio-button__indicator:before {
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid transparent;
      border-radius: 100%;
      background: #3bc7ab;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -4px 0 0 -4px;
    }
    .radio-button:checked + .radio-button__indicator_blue:before {
      background: #1f8ceb;
    }
    .radio-button:checked + .radio-button__indicator_blue + .text {
      color: #556066;
    }
  }
}