.tooltip {
  cursor: default;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  box-shadow: 0 3px 36px rgba(158, 157, 163, 0.54);
  box-sizing: border-box;
  position: absolute;
  top: ~'calc(100% + 10px)';
  min-width: 64px;
  min-height: 32px;
  line-height: 1;
  z-index: 3;
  &__description {
    font-size: 12px;
    text-transform: uppercase;
    font-family: ProximaNovaLight;
    color: #979797;
  }
  &_size_full {
    width: 100%;
    left: 0;
  }
  &:after {
    content: "";
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  &_top {
    bottom: 100%;
  }
  &_error {
    background-color: #f35e5e;
    color: #fff;
    font-size: 12px;
    font-family: "ProximaNovaLight";
    padding: 11px;
    width: 100%;
    top: inherit;
    margin-bottom: 8px;
    left: -1px;
    display: none;
    &:after {
      content: "";
      background-color: #f35e5e;
      height: 10px;
      top: 100%;
      margin-top: -10px;
    }
    .fa {
      margin-right: 5px;
    }
  }
  &_warning {
    color: #f35e5e;
    border: 1px solid #f35e5e;
    background: #fef7f7;
    position: fixed;
    width: 750px;
    margin-left: -375px;
    top: 80px;
    left: 50%;
    z-index: 15;
    padding: 0 25px;
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      line-height: 55px;
    }
    .text, .icon {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      font-size: 24px;
      margin-right: 11px;
    }
    &:after {
      content: "";
      display: none;
    }
  }
  &_done {
    color: #3bc7ab;
    border: 1px solid #3bc7ab;
    background: #ffffff;
    position: fixed;
    width: 262px;
    top: inherit;
    bottom: 40px;
    left: 80px;
    z-index: 15;
    padding: 0 16px;
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      line-height: 54px;
    }
    .text, .icon {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      font-size: 24px;
      margin-right: 11px;
    }
    .icon-close {
      position: absolute;
      right: 21px;
      top: 50%;
      margin: -12px 0 0 0;
    }
    &:after {
      content: "";
      display: none;
    }
  }
  &__content {
    overflow-y: auto;
    font-size: initial;
    box-sizing: border-box;
    line-height: normal;
    cursor: default;
    position: absolute;
    left: 10px;
    margin: 0!important;
    right: 10px;
    top: 10px;
    bottom: 10px;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
    &_default {
      position: static;
      padding: 8px;
      overflow: visible;
    }
    &_not-padding {
      position: static;
      padding: 10px 0px;
      overflow: visible;
      .search {
        padding: 0 30px 5px 5px;
      }
    }
    &_padding-top {
      position: static;
      padding: 10px 0px 0;
      overflow: visible;
      .search {
        padding: 0 30px 5px 5px;
      }
    }
    .checkbox-label {
      padding: 8px 0px;
      .icon {
        margin-right: 10px;
      }
    }
    .search {
      margin: 11px 0;
      position: relative;
      &:before {
        content: "";
        border-bottom: 1px solid #f5f5f7;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  .list {
    
    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;
    }
    .list__item_hovered {
      margin-left: 0;
      padding-left: 20px;
      &:hover .icon_content {
        color: #556066;
      }
    }
    .list__item_hovered.list__item_iconed {
      position: relative;
      padding-left: 47px;
    }
    .list__item_iconed-right {
      padding-left: 0px;
      .icon {
        display: none;
      }
      &:hover {
        .icon {
          display: inline-block;
        }
      }
    }
    .list__item  {
      padding-left: 8px;
    }
    .button_not-border {
      padding-left: 0px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  &_table {
    &:after {
      content: "";
      display: none;
    }
    .tooltip__content {
      padding: 0;
      position: static;
      overflow: visible;
    }
  }
  
}