.i-list{
  display: inline-block;
  width: 20px;
  height: 15px;
  vertical-align: middle;
  background-image: url(interface/icons/list.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}