.category__item_input {
  border: 1px solid #dedede;
  margin-top: 7px;
  margin-bottom: 11px;
  line-height: 37px;
  border-radius: 2px;
  input[type=text],
  input[type=password] {
    font-family: ProximaNovaReg;
    font-size: 14px;
    padding: 0 11px 0 16px;
    margin: 0;
    border: none;
    display: inline-block;
    line-height: inherit;
    width: 100%;
    box-sizing: border-box;
    color: #556066;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
      color: #b1b1b1;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
}