.category__item_input {
  border: 1px solid #e4e5e9;
  margin-top: 7px;
  margin-bottom: 11px;
  line-height: 37px;
  border-radius: 2px;
  .icon-search {
    color: #9aa5ab;
  }
  &-text {
    position: relative;
    .text {
      font-size: 14px;
      font-family: ProximaNovaReg;
      color: #556066;
      position: absolute;
      right: 8px;
      top: 0px;
    }
  }
  &:hover {
    border: 1px solid #c4c7cc;
    .icon-search {
      color: #556066;
    }
  }
  &_active {
    border: 1px solid #1ebfe9;
  }
  input[type=text],
  input[type=password] {
    font-family: ProximaNovaReg;
    font-size: 14px;
    padding: 0 11px 0 16px;
    margin: 0;
    border: none;
    display: inline-block;
    line-height: inherit;
    width: 100%;
    box-sizing: border-box;
    color: #556066;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
      color: #b1b1b1;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
}