.help {
  position: relative;
  &__item {
    visibility: hidden;
    opacity: 0;
    position: absolute; /* Абсолютное позиционирование */
    left: -23px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
    top: -50px;
    z-index: 2; /* Отображаем подсказку поверх других элементов */
    background: #1ebfe9;
    font-family: ProximaNovaReg;
    line-height: 1;
    font-size: 14px; /* Размер текста подсказки */
    padding: 13px 16px; /* Поля */
    color: #fff;
    border-radius: 3px;
    transition: all .2s linear;
    &:after {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 25px;
      border: 10px solid transparent;
      border-top: 10px solid  #1ebfe9;
    }
  }
  &:hover &__item {
    visibility: visible;
    opacity: 1;
  }
}