.category__item.category__item_submit_search {
  border: transparent;
  margin-top: -10px;
  .search {
    padding-bottom: 10px;
    position: relative;
    &:before {
      content: "";
      border-bottom: 1px solid #dedede;
      position: absolute;
      bottom: 0;
      left: -26px;
      right: -26px;
    }
    input {
      margin-right: -27px;
      font-size: 14px;
      font-family: "ProximaNovaLight";
      padding: 0 30px 0 0px;
    }
  }
  .i-search {
    cursor: pointer;
  }
}