.header-profile{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  .tooltip__content {
    padding: 10px 0px;
  }
  .tooltip .list .list__item {
    margin: 0;
    padding-left: 15px;
  }
}