.article-cover{
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__img {
    margin-bottom: 20px;
  }
  .link__slide {
    border-radius: 5px 5px 0 0;
  }
  .link__edit_big {
    left: 50%;
    margin-left: -50px;
  }
  .link__delete_big {
    right: 50%;
    margin-right: -50px;
  }
}