.category__collapser {
  margin-top: 10px;
  padding: 5px 0;
  margin-bottom: -5px;
  position: relative;
  cursor: pointer;
  .button_round {
    position: absolute;
    left: 50%;
    top: 0px;
    margin: -5px 0 0 -26px;
    
  }
  &:hover .i-arrow {
    border-right: 1px solid #556066;
    border-bottom: 1px solid #556066;
  }
}