.search {
  input {
    margin: 0;
    border: none;
    display: inline-block;
    line-height: inherit;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
      color: #b1b1b1;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
}