.avatar{
  display: inline-block;
  position: relative;
  &__link{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 100%;
    &:hover .avatar__shadow {
      transform: translateY(0%);
    }
  }
}