.avatar{
  display: inline-block;
  position: relative;
  &_link{
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
    &:hover .avatar__shadow {
      transform: translateY(0%);
    }
  }
}