.category__item_icon{
  position: relative;

  &:hover {
    .icon-pencil, .icon-filter {
      display: inline-block;
    }
    .number_sidebar {
      display: none;
    }
  }
  .icon {
    text-align: center;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 2;
    &.icon-status {
      margin-right: -4px;
    }
  }
  .number_sidebar {
    position: absolute;
    right: 20px;
    line-height: 1;
    top: 50%;
    margin-top: -5px;
  }
  .icon-social {
    color: #d8e2e9;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 24px;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -12px;
    &_active {
      color: #198dec;
    }
  }
  .icon-group {
    vertical-align: middle;
    font-size: 20px;
  }
  > input,
  input[type=text]{
    padding-left: 45px;
  }
  > input,
  input[type=text].input_margin {
    margin-left: -45px;
  }
  .i-icon {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    font-size: 24px;
      &_right {
        left: inherit;
        right: 0;
      }
  }
}