.category__item_icon{
  position: relative;

  .fa,
  .icon-group,
  .icon {
    min-width: 36px;
    text-align: center;
    
    margin-right: -1px;
    display: inline-block;
    &.icon-status {
      margin-right: -4px;
    }
  }
  .icon-social {
    color: #d8e2e9;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 21px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -11px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 2px;
      border-right: 1px solid #f0f0f0;
    }
  }
  .icon-group {
    vertical-align: middle;
    font-size: 20px;
  }
  > input,
  input[type=text]{
    padding-left: 45px;
  }
  > input,
  input[type=text].input_margin {
    margin-left: -45px;
  }
  .i-icon {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    font-size: 24px;
      &_right {
        left: inherit;
        right: 0;
      }
  }
}