.category__item_icon{
  position: relative;

  .fa{
    min-width: 36px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-right: -1px;
  }
  > input{
    padding-left: 40px;
    margin-left: -39px;
  }
  .i-icon {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1
  }
}