.checkbox__indicator,
.checkbox__indicator-solid {
  border: 1px solid lightgray;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 1.14285em;
  height: 1.14285em;
  position: relative;
}

.checkbox {
  &:checked {
    + .checkbox__indicator-solid {
      &:before {
        content: "";
        width: 7px;
        border: 1px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -4px;
        box-sizing: content-box;
      }
      &_blue {
        &:before {
          content: "";
          border-color: #1f8ceb;
        }
      }
    }
    + .checkbox__indicator {
      &:before {
        content: "";
        box-sizing: content-box;
        width: 7px;
        height: 3px;
        border: 1px solid transparent;
        position: absolute;
        transform: rotate(-45deg);
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -4px;
      }
      &_blue {
        &:before {
          content: "";
          border-left-color: #1f8ceb;
          border-bottom-color: #1f8ceb;
        }
      }
      &_green {
        &:before {
          content: "";
          border-left-color: #3bc7ab;
          border-bottom-color: #3bc7ab;
        }
      }
    }
    
  }
}