.category {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;

  box-shadow: 0 3px 16px rgba(158, 157, 163, 0.08);
  box-sizing: border-box;

  margin-bottom: 14px;
  
  padding: 20px 26px 25px 26px;
  .results {
    color: #7e7e7e;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: ProximaNovaLight;
  }
  .tag{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &_left {
      justify-content: flex-start;
    }
    &__item{
      &_border{
        margin-bottom: 4px;
      }
    }
  }
}