.header-side{
  display: flex;
  min-width: 300px;
  justify-content: flex-end;
  align-items: center;
  .link {
    font-size: 16px;
    font-family:  ProximaNovaLight;
    font-weight: 300;
    color: #000000;
    margin-right: 16px;
  }
}