<!doctype html>
<html lang="en" ng-app="app">

<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href='main.css' rel='stylesheet' type='text/css'>

  <script src="../tmp/angular/angular.min.js"></script>
  <script src="../tmp/ng-dialog/js/ngDialog.min.js"></script>
  <script src="../tmp/app.js"></script>

</head>

<body ng-controller="TestController">
  <div class="header">
    <h1 class="header__logo"><a href="home.html">Smart<b>Portal</b></a></h1>
    <div class="nav">
      <a class="nav__link nav__link_newspaper nav__link_active" ng-click="open()">
        <span class="icon-newspaper icon_nav"></span>
        <span class="text">База знаний</span>
      </a>
      <a class="nav__link nav__link_people" href="employeers.html">
        <span class="icon-people icon_nav"></span>
        <span class="text">Команда</span>
      </a>
      <a class="nav__link nav__link_education" href="/">
        <span class="icon-education icon_nav"></span>
        <span class="text">Обучение</span>
      </a>
      <a class="nav__link nav__link_code" href="/">
        <span class="icon-code icon_nav"></span>
        <span class="text">Скрипты</span>
      </a>
    </div>
    <div class="header-side">
      <span class="header-side__help icon-question icon_header"></span>
      <span class="header-side__search icon-search icon_header"></span>
      <div class="header-side__notification header-side__notification_active ">
        <span class="icon-notification icon_header"></span>
        <div class="tooltip" style="width: 240px; right: 17px">
          <i class="tooltip__arrow tooltip__arrow_white" style="right: 12px"></i>
          <div class="content tooltip__content tooltip__content_default">
            <ul class="list">
              <li class="list__item list__item_color_warning">
                <div class="text">Updates Improved Parsing and Import Engine</div>
              </li>
              <li class="list__item list__item_color_default">
                <div class="text">Updates Improved Parsing and Import</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-profile">
        <div class="header-profile__avatar">
          <img class="pic" src="interface/avatar.jpg" alt="">
        </div>
        <span class="header-profile__name">Александрррррр</span>
        <span class="header-profile__arrow"></span>
        <div class="tooltip" style="width: 170px; right: -14px">
          <i class="tooltip__arrow tooltip__arrow_white" style="right: 10px"></i>
          <div class="content tooltip__content tooltip__content_default">
            <ul class="list">
              <li class="list__item list__item_hovered">
                <div class="text">Профиль</div>
              </li>
              <li class="list__item list__item_hovered">
                <div class="text">Настройки</div>
              </li>
              <li class="list__item list__item_hovered">
                <div class="text">Выход</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-search">
      <div class="header-search__close">
        <i class="i-arrow i-arrow_gray i-arrow_to_left"></i>
      </div>
      <div class="header-search__input">
        <div class="search">
          <input type="search" placeholder="Искать" value="Должность">
          <span class="icon-search icon_gray i-icon"></span>
          <i class="i-closer i-closer_gray i-icon"></i>
        </div>
        <div class="tooltip tooltip_search">
          <div class="content tooltip__content tooltip__content_not-padding">
            <div class="tooltip__header tooltip__header_transparent">
              <h2 class="tooltip__description">База знаний</h2>
              <button class="button button_link button_pin_right" type="button">Все результаты</button>
            </div>
            <div class="scroll scroll_gray" style="max-height: 394px">
              <ul class="list">
                <li class="list__item list__item_iconed list__item_active list__item_hovered">
                  <div class="article">
                    <div class="sidebar">
                      <img class="pic" src="interface/icon.jpg" alt="" width="26">
                    </div>
                    <div class="content article__content">
                      <div class="content__caption">
                        <span class="content__caption-text">Использование шаблонов в дизайне</span>
                      </div>
                      <a class="link article__link">
                        <span class="favicon icon-unlink icon_green"></span>
                        <div class="text">habrahabr.ru</div>
                        <div class="post-text">...более того, как-то вскоре после вступления в <span class="select">должность</span> еду с водителемhhhhhhhhhhhhh</div>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list__item list__item_iconed list__item_active list__item_hovered">
                  <div class="article">
                    <div class="sidebar">
                      <img class="pic" src="interface/icon.jpg" alt="" width="26">
                    </div>
                    <div class="content article__content">
                      <div class="content__caption">
                        <span class="content__caption-text">200 шаблонов успешных заголовков</span>
                      </div>
                      <a class="link article__link">
                        <span class="favicon icon-files icon_blue"></span>
                        <div class="post-text">...более того, как-то вскоре после вступления в <span class="select">должность</span> еду с водителемhhhhhhhhhhhhh</div>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="solid"></div>
              <div class="tooltip__header tooltip__header_transparent">
                <h2 class="tooltip__description">Команда</h2>
                <button class="button button_link button_pin_right" type="button">Показать всех</button>
              </div>
              <table class="datagrid">
                <tbody class="datagrid__body">
                  <tr class="row row_not-border">
                    <td class="row__cell">
                      <div class="user-profile user-profile_horizontal_small">
                        <div class="avatar">
                          <div class="avatar__cover avatar__cover_small-xs">
                            <img class="pic" src="interface/ava.jpg" alt="" height="37" width="37">
                          </div>
                        </div>
                        <div class="bio">
                          <div class="bio__name">Марк Адамс</div>
                          <div class="bio__position">UI Designer</div>
                        </div>
                      </div>
                    </td>
                    <td class="row__cell">
                      <div class="text">Design</div>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="mailto:mark.adams@smart.com">mark.adams@smart.com</a>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="tel:+33088445566">+33 088 44 55 66</a>
                    </td>
                  </tr>
                  <tr class="row row_not-border">
                    <td class="row__cell">
                      <div class="user-profile user-profile_horizontal_small">
                        <div class="avatar">
                          <div class="avatar__cover avatar__cover_small-xs">
                            <img class="pic" src="interface/ava.jpg" alt="" height="37" width="37">
                          </div>
                        </div>
                        <div class="bio">
                          <div class="bio__name">Марк Борн</div>
                          <div class="bio__position">UI Designer</div>
                        </div>
                      </div>
                    </td>
                    <td class="row__cell">
                      <div class="text">Design</div>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="mailto:mark.adams@smart.com">mark.adams@smart.com</a>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="tel:+33088445566">+33 088 44 55 66</a>
                    </td>
                  </tr>
                  <tr class="row row_not-border">
                    <td class="row__cell">
                      <div class="user-profile user-profile_horizontal_small">
                        <div class="avatar">
                          <div class="avatar__cover avatar__cover_small-xs">
                            <img class="pic" src="interface/ava.jpg" alt="" height="37" width="37">
                          </div>
                        </div>
                        <div class="bio">
                          <div class="bio__name">Марк Адамс</div>
                          <div class="bio__position">Дизайнер</div>
                        </div>
                      </div>
                    </td>
                    <td class="row__cell">
                      <div class="text">Design</div>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="mailto:mark.adams@smart.com">mark.adams@smart.com</a>
                    </td>
                    <td class="row__cell">
                      <a class="link" href="tel:+33088445566">+33 088 44 55 66</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main_justified_between">
    <div class="sidebar">
      <div class="category category_hover">
        <a class="category__item" href="#">Всё доступное мне</a>
        <a class="category__item" href="#">Моё избранное</a>
      </div>
      <div class="category category_hover">
        <div class="category__item category__item_title category__item_action_add category__item_icon">
          <span class="text">Разделы</span>
          <span class="i-icon  icon_sidebar icon-plus icon_green"></span>
        </div>
        <a class="category__item category__item_icon" href="/">
          <span class="text">Дизайнеры</span>
          <span class="i-icon icon_sidebar icon-pencil"></span>
        </a>
        <a class="category__item category__item_icon" href="/">
          <span class="text">Менеджеры</span>
          <span class="i-icon icon_sidebar icon-pencil"></span>
        </a>
        <a class="category__item  category__item_active category__item_icon" href="/">
          <span class="text">Распространители</span>
          <span class="i-icon icon_sidebar icon-pencil"></span>
        </a>
        <a class="category__item  category__item_icon" href="/">
          <span class="text">Техническая поддержка</span>
          <span class="i-icon icon_sidebar icon-pencil"></span>
        </a>
        <a class="category__item category__item_icon" href="/">
          <span class="text">Руководители</span>
          <span class="i-icon  icon_sidebar icon-pencil"></span>
        </a>
        <a class="category__item category__item_icon" href="/">
          <span class="text">Отчеты с мероприятий</span>
          <span class="i-icon  icon_sidebar icon-pencil"></span>
        </a>
        <div class="solid"></div>
        <a class="category__item" href="/">Без раздела</a>
      </div>
      <div class="category">
        <div class="category__item category__item_title category__item_icon">
          <span class="text">Добавить раздел</span>
          <span class="i-icon icon_sidebar icon-cancel icon_green"></span>
        </div>
        <div class="category__item category__item_input 
          category__item_with-error">
          <div class="tooltip tooltip_error tooltip_top">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Недопустимые символы
            <i class="tooltip__arrow tooltip__arrow_red tooltip__arrow_bottom" style="left: 5px"></i>
          </div>
          <input type='text' placeholder='Имя раздела'>
        </div>
        <div class="category__item category__item_icon category__item_drop category__item_input">
          <span class="icon-group icon_sidebar icon_blue"></span>
          <input class="input" type="text" placeholder="Настройка доступа" readonly>
        </div>
        <div class="category__footer category__footer_justify-center">
          <button class="button" type="button">Сохранить</button>
        </div>
      </div>
      <div class="category">
        <div class="category__item category__item_title category__item_icon">
          <span class="text">Добавить раздел1</span>
          <span class="i-icon icon_sidebar icon-cancel icon_green"></span>
        </div>
        <div class="category__item category__item_input">
          <input type='text' placeholder='Распространители'>
        </div>
        <div class="category__item category__item_icon">
          <div class="tooltip tooltip_footer" style="height: 350px; width: 270px; left: -24px;display:none">
            <div class="tooltip__header">
              <a href="#" class="link link_active">Список</a>
              <a href="#" class="link">Видна всем</a>
              <a href="#" class="link">Только мне</a>
            </div>
            <div class="content tooltip__content tooltip__content_default">
              <div class="search search_bordered search_icon">
                <input type='search' placeholder='Найти участника'>
                <span class="icon-search icon_gray  i-icon"></span>
              </div>
              <div class="scroll" style="height: 180px;">
                <div class="checkbox-group">
                  <div class="checkbox-group__title">
                    <label class="checkbox-label">
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                      <span class="checkbox-text">Дизайнеры</span>
                    </label>
                    <div class="i-arrow i-arrow_to_down"></div>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                </div>
                <div class="checkbox-group checkbox-group_closed">
                  <div class="checkbox-group__title">
                    <label class="checkbox-label">
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                      <span class="checkbox-text">Руководители</span>
                    </label>
                    <div class="i-arrow i-arrow_to_down"></div>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                </div>
                <div class="checkbox-group">
                  <div class="checkbox-group__title">
                    <label class="checkbox-label">
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                      <span class="checkbox-text">Менеджеры</span>
                    </label>
                    <div class="i-arrow i-arrow_to_down"></div>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                </div>
                <div class="checkbox-group checkbox-group_closed">
                  <div class="checkbox-group__title">
                    <label class="checkbox-label">
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                      <span class="checkbox-text">Стажеры</span>
                    </label>
                    <div class="i-arrow i-arrow_to_down"></div>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                  <div class="checkbox-group__item">
                    <label class="checkbox-label">
                      <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                      <input class="checkbox" type="checkbox">
                      <i class="checkbox__indicator"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="tooltip__footer ">
              <button class="button button_success" type="button">Сохранить</button>
              <button class="button" type="button">Отменить</button>
            </div>
            <i class="tooltip__arrow" style="left: 36px"></i>
          </div>
        </div>
        <div class="category__item category__item_tag category__item_input  category__item_icon">
          <span class="icon-group icon_blue"></span>
          <div class="tag">
            <span class="tag__item tag__item_closer">
              <span class="tag__text">Менеджеры</span>
              <i class="i-closer"></i>
            </span>
            <span class="tag__item tag__item_closer">
              <span class="tag__text">Игорь Павлов</span>
            <i class="i-closer"></i>
            </span>
            <span class="tag__item tag__item_closer">
              <span class="tag__text">Стажеры</span>
            <i class="i-closer"></i>
            </span>
          </div>
        </div>
        <div class="category__footer">
          <button class="button button_success" type="button">Сохранить</button>
          <button class="button" type="button">Удалить</button>
        </div>
      </div>
      <div class="category">
        <div class="category__item-label category__item-label_not-margin">Тип</div>
        <div class="category__item category__item_drop category__item_input">
          <input class="input" type="text" placeholder="Type here" value="Все" readonly>
          <div class="i-arrow i-arrow_to_down"></div>
        </div>
      </div>
      <div class="category ">
        <div class="category__item category__item_submit category__item_submit_search category__item_input category__item_icon">
          <div class="search">
            <input type='search' placeholder='Искать'>
            <span class="icon-search icon-search_gray icon_sidebar i-icon"></span>
          </div>
        </div>
        <div class="tag tag_left tag_closed">
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">лед</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">лед</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">лед</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">лед</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">лед</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
          <span class="tag__item tag__item_border">Хостинг</span>
          <span class="tag__item tag__item_border">Дизайн</span>
          <span class="tag__item tag__item_border">Бизнес</span>
        </div>
        <div class="category__footer">
          <button class="button button_link button_pin_right" type="button">Показать еще</button>
        </div>
      </div>


      <div class="category ">
        <div class="category__item category__item_submit category__item_submit_search category__item_input category__item_icon">
          <div class="search">
            <input type='search' placeholder='Искать'>
            <span class="icon-search icon-search_gray icon_sidebar i-icon"></span>
          </div>
        </div>
        <div class="results">
            <span>
              Ничего не найденно
            </span>
        </div>
      </div>
      
      <div  style="top: 132px" class="category-form category-form_right">
        <i class="category-form__arrow" style="left: -6px; top: 70px"></i>
        <div class="category-form__item category__item_title category-form__item_icon">
          <span class="text">Добавить раздел11</span>
          <span class="i-icon icon_category-form icon-cancel icon_green"></span>
        </div>
        
        <div class="category-form__item category-form__item_input  category-form__item_with-error">
         <div class="tooltip tooltip_error tooltip_top">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Недопустимые символы
          <i class="tooltip__arrow tooltip__arrow_red tooltip__arrow_bottom" style="left: 5px"></i>
        </div>
          <input type='text' placeholder='Распространители'>
        </div>
        <div class="category-form__item category-form__item_tag category-form__item_input  category-form__item_icon">
          <span class="icon-group icon_blue"></span>
          <div class="tag">
            <span class="tag__item tag__item_closer">
              <span class="tag__text">Менеджеры</span>
              <i class="i-closer"></i>
            </span>
            <span class="tag__item_closer">
              <span class="tag__text">Игорь Павлов</span>
            <i class="i-closer"></i>
            </span>
            <span class="tag__item tag__item_closer">
              <span class="tag__text">Стажеры</span>
            <i class="i-closer"></i>
            </span>
          </div>
        </div>
        <div class="category-form__footer">
          <button class="button button_success" type="button">Сохранить</button>
          <button class="button" type="button">Удалить</button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="tag">
        <div class="tag__item tag__item_border">Раздел: Распространители
          <div class="i-closer"></div>
        </div><div class="tag__item tag__item_border">Раздел: Распространители
          <div class="i-closer"></div>
        </div><div class="tag__item tag__item_border">Раздел: Распространители
          <div class="i-closer"></div>
        </div>
      </div>
      <div class="article">
        <div class="article-cover" style="background-image: url('http://www.dolomitisuperski.com/website/var/tmp/image-thumbnails/660000/667626/thumb__demi_gallery_detail_landscape/mountains_7824779.jpeg')"></div>
        <div class="content article__content">
          <div class="content__caption">
            <div class="content__caption-text">
             <span class="text">200 шаблонов эффективных заголовков
              <span class="i-icon icon-pin icon_blue"></span>
              <span class="i-icon icon icon-star icon_orange"></span>
             </span>
              
            </div>
            <div class="content__caption-action">
              <i class="i-more"></i>
              <div class="tooltip" style="width: 220px; right: -20px">
                <i class="tooltip__arrow tooltip__arrow_white" style="right: 32px"></i>
                <div class="content tooltip__content tooltip__content_not-padding">
                  <ul class="list">
                    <li class="list__item list__item_iconed list__item_hovered">
                      <div class="text">
                        <span class="fa i-icon icon_content icon-pencil"></span>
                        <span class="text">Редактировать</span>
                      </div>
                    </li>
                    <li class="list__item list__item_iconed list__item_hovered">
                      <div class="text">
                        <span class="fa i-icon icon_content icon-locked"></span>
                        <span class="text">Закрепить запись</span>  
                      </div>
                    </li>
                    <li class="list__item list__item_iconed list__item_hovered">
                      <div class="text">
                        <span class="fa i-icon icon_content icon-star-full"></span>
                        <span class="text">Добавить в избранное</span>  
                      </div>
                    </li>
                    <li class="list__item list__item_iconed list__item_hovered">
                      <div class="text">
                        <span class="fa i-icon icon_content icon-unlink"></span>
                        <span class="text">Скопировать ссылку</span>
                      </div>
                    </li>
                    <li class="list__item list__item_iconed list__item_hovered"  ng-click="openConfirm()">
                      <div class="text">
                        <span class="fa i-icon icon_content icon-trashcan"></span>
                        <span class="text">Удалить в корзину</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="content__text content__text_collapsed">Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве было достаточно же
            представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве
            было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление
            о государстве было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?»</div>
          <div class="content-footer">
          </div>
        </div>
        <div class="article__collapser">
          <button class="button button_round button_not-border button_default" type="button">
            <i class="i-arrow i-arrow_to_down"></i>
          </button>
        </div>
        <div class="article__footer article__footer_relative">
          <span class="text"><strong>Разделы:</strong>Без раздела</span>
          <div class="tag">
            <span class="tag__item tag__item_border">Хостинг</span><span class="tag__item tag__item_border">Дизайн</span><span class="tag__item tag__item_border">Бизнес</span>
            <button class="tag__item button button_pseudo button_small" type="button">Еще 5 тегов</button>
          </div>
          
          <div style="position:relative;" class="text text_pin_right text_small text_nowrap">
              <div class="tooltip tooltip_top" style="margin-top: -400px; height: 350px; width: 270px; left: -200px; display: none; ">
                <i class="tooltip__arrow tooltip__arrow_bottom" style="right: 35px"></i>
                <div class="tooltip__header">
                  <a href="#" class="link link_active">Список</a>
                  <a href="#" class="link">Видна всем</a>
                  <a href="#" class="link">Только мне</a>
                </div>
                <div class="content tooltip__content tooltip__content_default">
                    <div class="search search_bordered search_icon">
                      <input type='search' placeholder='Найти участника'>
                      <span class="icon-search icon_gray i-icon"></span>
                    </div>
                    <div class="scroll" style="height: 180px;">
                    <div class="checkbox-group">
                      <div class="checkbox-group__title">
                        <label class="checkbox-label">
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                          <span class="checkbox-text">Дизайнеры</span>
                        </label>
                        <div class="i-arrow i-arrow_to_down"></div>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                    </div>
                    <div class="checkbox-group checkbox-group_closed">
                      <div class="checkbox-group__title">
                        <label class="checkbox-label">
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                          <span class="checkbox-text">Руководители</span>
                        </label>
                        <div class="i-arrow i-arrow_to_down"></div>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                    </div>
                    <div class="checkbox-group">
                      <div class="checkbox-group__title">
                        <label class="checkbox-label">
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                          <span class="checkbox-text">Менеджеры</span>
                        </label>
                        <div class="i-arrow i-arrow_to_down"></div>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                    </div>
                    <div class="checkbox-group checkbox-group_closed">
                      <div class="checkbox-group__title">
                        <label class="checkbox-label">
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                          <span class="checkbox-text">Стажеры</span>
                        </label>
                        <div class="i-arrow i-arrow_to_down"></div>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="http://www.koolinar.ru/all_image/users/179/179477/u179477_thumb.jpg" alt="" width="20" height="20"><span class="checkbox-text">Алиса Волшебная</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                      <div class="checkbox-group__item">
                        <label class="checkbox-label">
                          <img class="pic" src="https://lh4.googleusercontent.com/-NEnMTiuKBsk/AAAAAAAAAAI/AAAAAAAACnI/S0onZNhCCmo/photo.jpg?sz=50&sz=40" alt="" width="20" height="20"><span class="checkbox-text">Иван Горкин</span>
                          <input class="checkbox" type="checkbox">
                          <i class="checkbox__indicator"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tooltip__footer ">
                  <button class="button button_success" type="button">Сохранить</button>
                  <button class="button" type="button">Отменить</button>
                </div>
            
            </div>
            <span class="i-icon icon_article icon-group"></span>
            <span class="text__text">7</span>
            <span class="i-icon icon_article icon-chat"></span>
            <span class="text__text">15</span>
            <span class="i-icon icon_article icon-heart icon-heart_active"></span>
            <span class="text__text">984</span>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="content article__content">
          <span class="text">Статья удалена</span>
          <button class="button button_link_success button_pin_right text_uppercase" type="button">Отменить удаление</button>
        </div>
      </div>
      <div  class="article">
        <div class="sidebar">
          <img class="pic" src="https://s-media-cache-ak0.pinimg.com/736x/f1/e2/cd/f1e2cddda3cea1d620c03d883ad05b02.jpg" alt="" width="65">
        </div>
        <div class="content article__content">
          <div class="content__caption">
            <span class="content__caption-text">За 25 тысяч километров я не потратил на заправку ...</span>
            <div class="content__caption-action">
              <i class="i-more"></i>
            </div>
          </div>
          <a class="link article__link">
            <img class="favicon" ng-srcset="https://plus.google.com/_/favicon?domain=prntscr.com 1x, https://logo.clearbit.com/prntscr.com?size=100 2x" srcset="https://plus.google.com/_/favicon?domain=prntscr.com 1x,https://logo.clearbit.com/prntscr.com?size=100 2x">
            <div class="text">vc.ru</div>
          </a>
          <div class="content__text">Автогонщик и главный редактор интернет-журнала «Суперкар» Никита Небылицкий ...</div>
        </div>
        <div class="article__collapser">
          <button class="button button_round button_not-border button_default" type="button">
            <i class="i-arrow i-arrow_to_down"></i>
          </button>
        </div>
        <div class="article__footer article__footer_relative">
          <div class="tag">
            <span class="text"><strong>Разделы:</strong><a href="#" class="link">Без раздела</a></span>
            <span class="tag__item tag__item_border">Хостинг</span><span class="tag__item tag__item_border">Дизайн</span><span class="tag__item tag__item_border">Бизнес</span><span class="tag__item tag__item_border">Бизнес</span><span class="tag__item tag__item_border">Бизнес</span><span class="tag__item tag__item_border">Бизнес</span><span class="tag__item tag__item_border">Хостинг</span><span class="tag__item tag__item_border">Дизайн</span><span class="tag__item tag__item_border">Бизнес</span><button class="tag__item button button_pseudo button_small" type="button">+Добавить тэг</button>
          </div>
          
          <div class="text text_pin_right text_small text_nowrap">
            <span class="i-icon icon_article icon-group"></span>
            <span class="text__text">7</span>
            <span class="i-icon icon_article icon-chat"></span>
            <span class="text__text">15</span>
            <span class="i-icon  icon_article icon-heart"></span>
            <span class="text__text">984</span>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="article-cover" style="background-image: url('http://www.dolomitisuperski.com/website/var/tmp/image-thumbnails/660000/667626/thumb__demi_gallery_detail_landscape/mountains_7824779.jpeg')"></div>
        <div class="content article__content">
          <div class="content__caption">
            <span class="content__caption-text">200 шаблонов эффективных заголовков</span>
            <div class="content__caption-action">
              <i class="i-more"></i>
            </div>
          </div>
          <div class="content__text">Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве было достаточно же
            представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве
            было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление
            о государстве было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?»</div>
          <div class="content-footer"></div>
        </div>
        <div class="article__collapser">
          <button class="button button_round button_not-border button_default" type="button">
            <i class="i-arrow i-arrow_to_up"></i>
          </button>
        </div>
        <div class="article__footer article__footer_relative">
          <div class="tag">
            <span class="text"><strong>Разделы:</strong>Дизайн</span>
            <span class="tag__item tag__item_border">Хостинг</span>
            <span class="tag__item tag__item_border">Дизайн</span>
            <span class="tag__item tag__item_border">Бизнес</span>
            <button class="tag__item button button_pseudo button_small" type="button">Еще 5 тегов</button>
          </div>
          <div class="text text_pin_right text_small text_nowrap">
            <span class="i-icon icon_article icon-group"></span>
            <span class="text__text">7</span>
            <span class="i-icon icon_article icon-chat"></span>
            <span class="text__text">15</span>
            <span class="i-icon icon_article icon-heart"></span>
            <span class="text__text">984</span>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="content article__content">
          <div class="content__caption">
            <span class="content__caption-text">200 шаблонов эффективных заголовков</span>
            <div class="content__caption-action">
              <i class="i-more"></i>
            </div>
          </div>
          <div class="content__text">Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве было достаточно же
            представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление о государстве
            было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?» У меня же представление
            о государстве было достаточно же представление о государ Более того, как-то вскоре после вступления в должность еду с водителем. Он ко мне поворачивается и говорит: «Герман Сергеевич, а вы штрафы когда будете оплачивать?» Я: «Какие штрафы?»</div>
          <div class="content-footer"></div>
        </div>
        <div class="article__collapser">
          <button class="button button_round button_not-border button_default" type="button">
            <i class="i-arrow i-arrow_to_up"></i>
          </button>
        </div>
        <div class="article__footer article__footer_relative">
          <div class="tag">
            <span class="text"><strong>Разделы:</strong>Дизайн</span>
            <span class="tag__item tag__item_border">Хостинг</span>
            <span class="tag__item tag__item_border">Дизайн</span>
            <span class="tag__item tag__item_border">Бизнес</span>
            <button class="tag__item button button_pseudo button_small" type="button">Еще 5 тегов</button>
          </div>
          <div class="text text_pin_right text_small text_nowrap">
            <span class="i-icon icon_article icon-group"></span>
            <span class="text__text">7</span>
            <span class="i-icon icon_article icon-chat"></span>
            <span class="text__text">15</span>
            <span class="i-icon icon_article icon-heart"></span>
            <span class="text__text">984</span>
          </div>
        </div>
      </div>
      <button class="button button_add-more">...</button>
      <div class="article article_transparent">
        <span class="icon_blue icon icon-page"></span>
        <p class="text">Здесь пока ничего нет. Добавь статью или ссылку</p>
        <span class="icon_blue icon icon-arrow"></span>
      </div>
      <div class="article article_transparent">
        <span class="icon icon-favorites"></span>
        <p class="text">Здесь пока ничего нет</p>
      </div>
    </div>
    <div class="actions actions_open">
      <div class="actions__wrapper actions__wrapper_open">
        <a class="actions__item link" href="#">
          <span class="icon-actions">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </span>
          <span class="text">статъя</span>
        </a>
        <a class="actions__item link" href="#">
          <span class="icon-actions">
            <span class="icon-unlink"></span>
          </span>
          <span class="text">ссылка</span>
        </a>
        <span class="actions__item actions__item_add circle circle_xl circle_green">
          <span class="icon-add-plus"></span>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
