<!doctype html>
<html lang="en" ng-app="app">

<head>
  <title>link</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href='main.css' rel='stylesheet' type='text/css'>
  <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>

  <script src="../tmp/redactor/redactor.min.js"></script>

  <script src="../tmp/angular/angular.min.js"></script>
  <script src="../tmp/ng-dialog/js/ngDialog.min.js"></script>
  <script src="../tmp/ng-tags-input/ng-tags-input.js"></script>
  <script src="../tmp/app.js"></script>
  <script src="../tmp/angularRedactor.js"></script>

</head>

<body ng-controller="TestController">
  <h1>Modals</h1>
  <button ng-click="openLink()" class="btn">Create link</button>
  <button ng-click="openAdd()" class="btn">Add employeers</button>
  <button ng-click="openArticle()" class="btn">Create article</button>
  <button ng-click="openConfirmDelete()" class="btn">ConfirmDelete</button>
  <button ng-click="openConfirmMove()" class="btn">ConfirmMove</button>
  <button ng-click="openConfirmEmployer()" class="btn">ConfirmEmp</button>
  <button ng-click="openCrop()" class="btn">Crop</button>

  <style>
    body{
      padding: 20px;
    }
    .btn{
      width: 100px;
      margin-bottom: 20px;
    }
  </style>
</body>
</html>