.datagrid__body {
  .row {
    margin-bottom: -1px;
    padding: 15px;
    border: 1px solid #ecf2f5;
    background-color: #fff;
//    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    
    &_not-border {
      border: none;
    }
    &__cell {
      height: 72px;
//      display: flex;
      padding: 11px 15px;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      .user-profile {
        .checkbox-label_inline {
          margin-left: 9px;
        }
      }
      .icon {
        font-size: 24px;
      }
      > .text {
        color: #768894;
        font-family: ProximaNovaReg;
        font-size: 14px;
      }
      > .action {
        position: relative;
        padding: 0 12px;
        font-size: 20px;
        .fa {
          color: #bbc5cc;
        }
        .tooltip {
          display: none;
        }
        &:hover,
        &.hover {
          .tooltip {
            display: block;
          }
        }
      }
    }
    &__cell_solid {
      padding: 0 1px;
      background-color: transparent;
    }
    &:hover {
      background: #f6f9fb;
      .row__cell_solid {
        background-color: #1f8ceb;
        box-shadow: 0 4px 30px 0 rgba(24, 205, 232, 0.4);
        -moz-box-shadow: 0px 5px 30px #18cde8;
      }
    }
    &_active {
      background: #f6f9fb;
      .row__cell_solid {
        background-color: #1f8ceb;
        box-shadow: 0 4px 30px 0 rgba(24, 205, 232, 0.4);
        -moz-box-shadow: 0px 5px 30px #18cde8;
      }
    }
    .tag__item_border {
      padding: 0 8px;
    }
  }
}
.datagrid_not-border {
  .datagrid__body {
    .row {
      &:hover {
        box-shadow: none;
      }
      &__cell {
        text-align: center;
        &:first-child {
          text-align: left;
        }
        &:first-child .bio__name {
          color: #768894;
        }
      }
    }
  }
  
}