.category__item-label{
  color: #afbcc2;
  font-size: 12px;
  margin-top: 24px;
  font-family: GothaProLig;
  text-transform: uppercase;
  &_not-margin {
    margin: 0px;
  }

  .info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -13px 0 -14px -8px;
    cursor: pointer;
    padding: 8px;
    .tooltip {
      margin-top: -130px;
      display: none;
      &:hover {
        display: block;
      }
      &_top {
        margin-bottom: 10px;
      }
    }
    .icon {
      left: -30px;
      font-size: 24px;
      
    }
    &:hover .tooltip {
      display: block;
    }

  }
}