.category__item-label{
  color: #afbcc2;
  font-size: 12px;
  margin-top: 24px;
  font-family: GothaProLig;
  text-transform: uppercase;
  &_not-margin {
    margin: 0px;
  }
  .icon {
    font-size: 24px;
  }
  .info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    .tooltip_top {
      margin-bottom: 10px;
    }
  }
}