.list{
  padding: 0;
  margin: 0;
}
.list-col {
  font-size: 0;
  position: relative;
  .list {
    padding: 16px 8px 0 8px;;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #e1e1e1;
  }
}