.article__footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 24px;
    right: 24px;
    border-top: 1px solid #f7f7f7;
  }
  .tag__item_border {
    padding: 0 8px;
  }
  .text_pin_right {
    .icon_article {
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px 0 20px;
      color: #979797;
      &:hover {
        cursor: pointer;
      }
      &.icon-heart {
        &:hover {
          color: #f15f5e;
        }
        &_active {
          color: #f15f5e;
        }
      }
    }
  }
}