.tag__item_circle {
  font-size: 10px;
  font-family: ProximaNovaLight;
  background-color: #f0f1f2;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  position: relative;
  .text {
    position: absolute;
    right: 50%;
    margin-right: -5px;
  }
}