.datagrid__footer {
  .row {
    margin-bottom: -1px;
    padding: 15px;
    border: 1px solid #ecf2f5;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  .text-all {
    font-size: 14px;
    font-family: ProximaNovaLight;
    color: #aaaaaa;
    margin-left: 49px;
  }
  &_search {
    .row {
      height: 73px;  
    }
  }
}