.category__item {
  display: block;
  color: #7e7e7e;
  font-family: "ProximaNovaLight";
  font-size: 15px;
  text-decoration: none;
  line-height: 34px;
  &.category__item_drop {
    position: relative;
    input {
      cursor: pointer;
      margin-right: -27px;
      padding-right: 28px;
    }
    .i-arrow_to_down {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 20px;
    }
  }
  .icon-pencil {
    display: none;
    padding: 10px;
  }
  &:hover {
    .icon-pencil {
      display: inline-block;
    }
  }
  
  &_full-width {
    flex: 0 0 100%;
  }
}