.category__item {
  display: block;
  color: #556066;
  font-family: ProximaNovaLight;
  font-size: 16px;
  text-decoration: none;
  line-height: 34px;
  &.category__item_enter {
    position: relative;
    input {
      cursor: pointer;
      margin-right: -27px;
      padding-right: 28px;
    }
    .i-arrow_to_down {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 20px;
    }
    .icon-press {
      background-color: #f4b696;
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: -1px;
      width: 42px;
      border-bottom-right-radius: 2px; 
      border-top-right-radius: 2px; 
      cursor: pointer;
      .i-arrow {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: absolute;
        left: 50%;
        bottom: 50%;
        margin: 0 0 -3px -7px;
      }
    }
  }
  &.category__item_drop {
    position: relative;
    input {
      cursor: pointer;
      margin-right: -27px;
      padding-right: 28px;
    }
    .i-arrow_to_down {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 20px;
    }
    .tooltip_top {
      margin-bottom: 15px;
    }
    .category-form {
      left: 0px;
      right: 0px;
      width: 100%;
      &_right {
        left: 328px;
        .category-form__arrow {
          top: 100px;
          left: -6px;
        }
      }
      &_left {
        right: 328px;
        left: inherit;
        .category-form__arrow {
          top: 100px;
          left: inherit;
          right: -6px;
        }
      }
      .icon {
        margin-top: -22px;
      }
      &_bottom {
        margin-top: 10px;
      }
      &_top {
        bottom: 100%;
        margin-top: 10px;
      }
    }
  }
  .number_sidebar {
    font-size: 14px;
    font-family: ProximaNovaReg;
    color: #1f8ceb;
    display: inline-block;
  }
  .icon-pencil {
    padding: 10px;
  }
  .icon-pencil, .icon-filter {
    display: none;
  }

  &_full-width {
    flex: 0 0 100%;
    .i-icon {
      right: inherit;
      left: 8px;
      margin-top: -12px;
    }
  }
  &_add {
    color: #9aa5ab;
  }
  .category__tools {
    margin-top: 24px;
  }
  &_pull-right {
    text-align: right;
  }
  &_pull-left {
    text-align: left;
  }
}