.tag {
  &_closed {
    max-height: 85px;
    overflow: hidden;
  }
  display: block;
  .link {
    color: #121212;
  }
  &:empty {
    display: none;
  }
  .checkbox-label_inline {
    margin-left: 18px;
    margin-right: 12px;
  }
}
.tag_border {
  border: 1px solid #dedede;
}