.slide-img {
  display: block;
  background-color: #fff;
  cursor: zoom-in;
  &_active {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 21;
    padding: 105px 80px;
    cursor: default;
    img {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear .5s,opacity .1s .4s
    }
  }
}