.tag__item_button {
  position: relative;
  display: inline-block;
  .category-form {
    width: 265px;
    padding: 0 0 16px 16px;
  }
  .scroll {
    margin-top: 16px;
    max-height: 120px;
    .tag {
      margin-top: 0;
    }
  }
}