.i-heart{
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-image: url(interface/icons/heart.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}